/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Your Chosen Font', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #111; /* Dark background */
    color: #fff;
    padding-top: 60px;
}

nav {
    background-color: #222;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}

.navbar.fixed {
    background-color: #333;
}

.navbar-brand,
.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #e44d26;
}

/* Adjust the icon size */
.navbar-links i {
    margin-right: 5px;
    font-size: 16px;
}

/* Header */
.header {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)), url('images/images.jpeg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #e44d26;
}

/* Projects Section */
#projects {
    padding: 100px 0;
}

.section-title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    color: #e44d26;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    width: 48%;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    color: #333;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-info {
    padding: 15px;
}

.project-info h5 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e44d26;
}

.project-info p {
    font-size: 1.2em;
    color: #555;
}

.project-info .btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e44d26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Programming Section */
#programming {
    padding: 100px 0;
    background: linear-gradient(135deg, #2a265f, #000080); /* Futuristic gradient background */
}

.section-title#programming-title {
    color: #fff; /* Change title color to white */
}

.programming-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.programming-icons i {
    color: #61dafb; /* Icon color matches the gradient */
    transition: transform 0.3s, color 0.3s;
}

.programming-icons i:hover {
    color: #fff; /* Icon color on hover */
    transform: scale(1.2);
}

/* CV Section */
#cv {
    padding: 100px 0;
}

.cv-download {
    text-align: center;
}

.cv-download .btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e44d26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Contact Section */
#contact {
    padding: 100px 0;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #666;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
}

.contact-form button {
    padding: 20px 40px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.4em;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #333;
}

.contact-info {
    margin-top: 30px;
}

.contact-info p {
    font-size: 1.2em;
}

.contact-info i {
    font-size: 2em;
    margin-right: 10px;
}

/* Example icons from Font Awesome */
.contact-info i.phone {
    color: #00bcd4; /* Teal color for phone icon */
}

.contact-info i.email {
    color: #4caf50; /* Green color for email icon */
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        padding-top: 80px; /* Adjust top padding for smaller screens */
    }

    nav {
        padding: 10px 0; /* Adjust padding for smaller screens */
    }

    .header {
        padding: 80px 0;
    }

    .header-content {
        max-width: 100%; /* Adjust content width for smaller screens */
    }

    .project-card,
    .education-item {
        width: 100%;
    }

    .education-container {
        justify-content: center; /* Center items for smaller screens */
    }

    .education-item {
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .section-title,
    .section-title#programming-title {
        font-size: 2em; /* Adjust title font size for smaller screens */
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .contact-form button {
        padding: 15px 30px; /* Adjust padding for smaller screens */
    }
}

/* Education Section */
#education {
    background-color: #333;
    color: #fff;
    padding: 100px 0;
}

.section-title#education-title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    color: #e44d26;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.education-item {
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.education-item:hover {
    transform: scale(1.05);
}

.education-item i {
    font-size: 2em;
    color: #e44d26;
}

.education-item h3 {
    font-size: 1.5em;
    margin: 15px 0;
}

.duration {
    font-size: 1.2em;
    color: #888;
}

.institution-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.institution-link:hover {
    color: #e44d26;
}

/* Adjustments for the Journey Section with Bootstrap Carousel */
#journey {
    padding: 100px 0;
    display: flex;
    align-items: center; /* Center content vertically */
}

#journey .section-title {
    font-size: 1.5em; /* Increase the font size for better visibility */
}

#journey .lead {
    font-size: 1em; /* Adjust the font size for better readability */
}

.journey-content {
    text-align: justify;
}

.journey-content h2.section-title {
    margin-bottom: 2rem;
}

.journey-content p.lead {
    font-size: 1.4em;
    margin-bottom: 1.5rem;
}

.col-lg-6 {
    display: flex;
    align-items: center; /* Center content vertically in each column */
}

#myCarousel {
    max-width: 100%;
    height: auto; /* Responsive height */
}

.carousel-item img {
    border-radius: 10px;
    max-width: 100%;
    height: auto; /* Responsive height */
}

/* Adjustments for the carousel controls on smaller screens */
@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }
}

/* Responsive for Education Section */
@media (max-width: 768px) {
    .education-item {
        width: 100%;
    }
}
